The files processed in this notebook were obtained from [https://github.com/intelligent-environments-lab/CityLearn](https://github.com/intelligent-environments-lab/CityLearn)

In [18]:
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
building_load_profile = pd.read_csv('raw/Building_1.csv')
building_load_profile['Load [kWh]'] = building_load_profile['Equipment Electric Power [kWh]'] + building_load_profile['DHW Heating [kWh]'] + building_load_profile['Cooling Load [kWh]']
building_load_profile = building_load_profile[['Month', 'Hour', 'Day Type', 'Load [kWh]']]

In [ ]:
building_load_profile.to_csv('preprocessed/building_load_profile.csv')

In [20]:
solar_generation_profile = pd.read_csv('raw/solar_generation_1kW.csv')
solar_generation_profile['Inverter Power (W)'] = solar_generation_profile['Hourly Data: AC inverter power (W)']
solar_generation_profile = solar_generation_profile[['Inverter Power (W)']]

In [ ]:
solar_generation_profile.to_csv('preprocessed/solar_generation_profile.csv')

In [ ]:
weather_profile = pd.read_csv('raw/weather_data.csv')
weather_profile

In [21]:
building_load_profile

      Month  Hour  Day Type  Load [kWh]
0         1     1         8        9.89
1         1     2         8        9.08
2         1     3         8        8.22
3         1     4         8        8.57
4         1     5         8        8.93
...     ...   ...       ...         ...
8755     12    20         1        9.37
8756     12    21         1       10.13
8757     12    22         1       10.17
8758     12    23         1        9.51
8759     12    24         1        9.48

[8760 rows x 4 columns]

In [16]:
(solar_generation_profile['Inverter Power (W)']*140)

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
8755    0.0
8756    0.0
8757    0.0
8758    0.0
8759    0.0
Name: Inverter Power (W), Length: 8760, dtype: float64

In [17]:
building_load_profile[['Load [kWh]']]

      Load [kWh]
0           9.89
1           9.08
2           8.22
3           8.57
4           8.93
...          ...
8755        9.37
8756       10.13
8757       10.17
8758        9.51
8759        9.48

[8760 rows x 1 columns]